apiVersion: v1
kind: Service
metadata:
  name: mini-fintickstreams
spec:
  selector:
    app: mini-fintickstreams
  ports:
    - name: api
      port: 8080
      targetPort: 8080
    - name: metrics
      port: 8000
      targetPort: 8000

